	body{
		background:#ffffff;
	}
				
	h1 {
		color:MediumTurquoise;
		font-family:verdana
		font-size:300%;
	}
	
	p {
		color: DarkOrchid;
		font-family:verdana;
		font-size:200%;
		
	}